<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
          
            <td>message</td>
            <td>date</td>
            <td>recipient</td>
            <td>tittle</td>
        
        
            {% for notifications in notify%}
            <tr>
                <td>{{notify.message}}</td>
                <td>{{notify.date}}</td>
                <td>{{notify.recipient}}</td>
                <td>{{notify.title}}</td>
              
             
            </tr>

            {%endfor%}
        </th>
    </table>
    
</body>
</html>