<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
          
            <td> loan_id </td>
            <td>loan_type</td>
            <td>loan_balance</td>
            <td>amount</td>
            <td> guaranter</td>
            <td>issuer</td>
            <td>wallet</td>
            

        
            {% for loan in loans%}
            <tr>
                <td>{{loan.loan_id}}</td>
                <td>{{loan.loan_type}}</td>
                <td>{{loan.loan_balance}}</td>
                <td>{{loan.amount}}</td>
                <td>{{loan.guaranter}}</td>
                <td>{{loan.issuer}}</td>
                <td>{{loan.wallet}}</td>
              
             
            </tr>

            {%endfor%}
        </th>
    </table>
</body>
</html>