<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
            <td>card_number</td>
            <td>card_type</td>
            <td>expiry_date</td>
            <td> security_code</td>
            <td> date_of_issue</td>
            <td> wallet</td>
            <td>  account</td>
            <td>issuer</td>
          
            
        
            {% for card in cards%}
            <tr>
                <td>{{card.card_number}}</td>
                <td>{{card.card_type}}</td>
                <td>{{card.expiry_date}}</td>
                <td>{{card.security_code}}</td>
                <td>{{card.date_of_issue}}</td>
                <td>{{card.wallet}}</td>
                <td>{{card.account}}</td>
                <td>{{card.issuer}}</td>
              
             
            </tr>

            {%endfor%}
        </th>
    </table>

    
</body>
</html>