<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table>
        <th>
            <td>country</td>
            <td>symbol</td>
            <td>amount</td>
        
            {% for Currency in bills%}
            <tr>
                <td>{{customer.country}}</td>
                <td>{{customer.symbol}}</td>
                <td>{{customer.amount}}</td>
             
            </tr>

            {%endfor%}
        </th>
    </table>
    
</body>
</html>