<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table>
        <th>
            <td>balance</td>
            <td>customer</td>
            <td>amount</td>
            <td>date_created</td>
            <td>status</td>
            <td>currency</td>
            <td>history</td>
            <td>pin</td>
        
        
            {% for Wallet in wallets%}
            <tr>
                <td>{{Wallet.balance}}</td>
                <td>{{Wallet.customer}}</td>
                <td>{{Wallet.amount}}</td>
                <td>{{Wallet.date_created}}</td>
                <td>{{Wallet.status}}</td>
                <td>{{Wallet.currency}}</td>
                <td>{{Wallet.history}}</td>
                <td>{{Wallet.pin}}</td>
               
             
            </tr>

            {%endfor%}
        </th>
    </table>
</body>
</html>